/** positive margin *******************************************************************************/
.mt-1 {margin-top: 0.5rem !important;}
.mt-2 {margin-top: 1rem !important;}
.mt-3 {margin-top: 1.5rem !important;}
.mt-4 {margin-top: 2rem !important;}
.mt-5 {margin-top: 2.5rem !important;}
.mt-6 {margin-top: 3rem !important;}
.mt-7 {margin-top: 3.5rem !important;}
.mt-8 {margin-top: 4rem !important;}
.mt-9 {margin-top: 4.5rem !important;}
.mt-10 {margin-top: 5rem !important;}
.mt-11 {margin-top: 5.5rem !important;}
.mt-12 {margin-top: 6rem !important;}
.mt-13 {margin-top: 6.5rem !important;}
.mt-14 {margin-top: 7rem !important;}
.mt-15 {margin-top: 7.5rem !important;}
.mt-16 {margin-top: 8rem !important;}
.mt-17 {margin-top: 8.5rem !important;}
.mt-18 {margin-top: 9rem !important;}
.mt-19 {margin-top: 9.5rem !important;}
.mt-20 {margin-top: 10rem !important;}
.mt-21 {margin-top: 10.5rem !important;}
.mt-22 {margin-top: 11rem !important;}
.mt-23 {margin-top: 11.5rem !important;}
.mt-24 {margin-top: 12rem !important;}
.mt-25 {margin-top: 12.5rem !important;}
.mt-26 {margin-top: 13rem !important;}
.mt-27 {margin-top: 13.5rem !important;}
.mt-28 {margin-top: 14rem !important;}
.mt-29 {margin-top: 14.5rem !important;}
.mt-30 {margin-top: 15rem !important;}

.mb-1 {margin-bottom: 0.5rem !important;}
.mb-2 {margin-bottom: 1rem !important;}
.mb-3 {margin-bottom: 1.5rem !important;}
.mb-4 {margin-bottom: 2rem !important;}
.mb-5 {margin-bottom: 2.5rem !important;}
.mb-6 {margin-bottom: 3rem !important;}
.mb-7 {margin-bottom: 3.5rem !important;}
.mb-8 {margin-bottom: 4rem !important;}
.mb-9 {margin-bottom: 4.5rem !important;}
.mb-10 {margin-bottom: 5rem !important;}
.mb-11 {margin-bottom: 5.5rem !important;}
.mb-12 {margin-bottom: 6rem !important;}
.mb-13 {margin-bottom: 6.5rem !important;}
.mb-14 {margin-bottom: 7rem !important;}
.mb-15 {margin-bottom: 7.5rem !important;}
.mb-16 {margin-bottom: 8rem !important;}
.mb-17 {margin-bottom: 8.5rem !important;}
.mb-18 {margin-bottom: 9rem !important;}
.mb-19 {margin-bottom: 9.5rem !important;}
.mb-20 {margin-bottom: 10rem !important;}
.mb-21 {margin-bottom: 10.5rem !important;}
.mb-22 {margin-bottom: 11rem !important;}
.mb-23 {margin-bottom: 11.5rem !important;}
.mb-24 {margin-bottom: 12rem !important;}
.mb-25 {margin-bottom: 12.5rem !important;}
.mb-26 {margin-bottom: 13rem !important;}
.mb-27 {margin-bottom: 13.5rem !important;}
.mb-28 {margin-bottom: 14rem !important;}
.mb-29 {margin-bottom: 14.5rem !important;}
.mb-30 {margin-bottom: 15rem !important;}

.ms-1 {margin-left: 0.5rem !important;}
.ms-2 {margin-left: 1rem !important;}
.ms-3 {margin-left: 1.5rem !important;}
.ms-4 {margin-left: 2rem !important;}
.ms-5 {margin-left: 2.5rem !important;}
.ms-6 {margin-left: 3rem !important;}
.ms-7 {margin-left: 3.5rem !important;}
.ms-8 {margin-left: 4rem !important;}
.ms-9 {margin-left: 4.5rem !important;}
.ms-10 {margin-left: 5rem !important;}
.ms-11 {margin-left: 5.5rem !important;}
.ms-12 {margin-left: 6rem !important;}
.ms-13 {margin-left: 6.5rem !important;}
.ms-14 {margin-left: 7rem !important;}
.ms-15 {margin-left: 7.5rem !important;}
.ms-16 {margin-left: 8rem !important;}
.ms-17 {margin-left: 8.5rem !important;}
.ms-18 {margin-left: 9rem !important;}
.ms-19 {margin-left: 9.5rem !important;}
.ms-20 {margin-left: 10rem !important;}
.ms-21 {margin-left: 10.5rem !important;}
.ms-22 {margin-left: 11rem !important;}
.ms-23 {margin-left: 11.5rem !important;}
.ms-24 {margin-left: 12rem !important;}
.ms-25 {margin-left: 12.5rem !important;}
.ms-26 {margin-left: 13rem !important;}
.ms-27 {margin-left: 13.5rem !important;}
.ms-28 {margin-left: 14rem !important;}
.ms-29 {margin-left: 14.5rem !important;}
.ms-30 {margin-left: 15rem !important;}

.me-1 {margin-right: 0.5rem !important;}
.me-2 {margin-right: 1rem !important;}
.me-3 {margin-right: 1.5rem !important;}
.me-4 {margin-right: 2rem !important;}
.me-5 {margin-right: 2.5rem !important;}
.me-6 {margin-right: 3rem !important;}
.me-7 {margin-right: 3.5rem !important;}
.me-8 {margin-right: 4rem !important;}
.me-9 {margin-right: 4.5rem !important;}
.me-10 {margin-right: 5rem !important;}
.me-11 {margin-right: 5.5rem !important;}
.me-12 {margin-right: 6rem !important;}
.me-13 {margin-right: 6.5rem !important;}
.me-14 {margin-right: 7rem !important;}
.me-15 {margin-right: 7.5rem !important;}
.me-16 {margin-right: 8rem !important;}
.me-17 {margin-right: 8.5rem !important;}
.me-18 {margin-right: 9rem !important;}
.me-19 {margin-right: 9.5rem !important;}
.me-20 {margin-right: 10rem !important;}
.me-21 {margin-right: 10.5rem !important;}
.me-22 {margin-right: 11rem !important;}
.me-23 {margin-right: 11.5rem !important;}
.me-24 {margin-right: 12rem !important;}
.me-25 {margin-right: 12.5rem !important;}
.me-26 {margin-right: 13rem !important;}
.me-27 {margin-right: 13.5rem !important;}
.me-28 {margin-right: 14rem !important;}
.me-29 {margin-right: 14.5rem !important;}
.me-30 {margin-right: 15rem !important;}

/** negative margin *******************************************************************************/
.mt-n1 {margin-top: -0.5rem !important;}
.mt-n2 {margin-top: -1rem !important;}
.mt-n3 {margin-top: -1.5rem !important;}
.mt-n4 {margin-top: -2rem !important;}
.mt-n5 {margin-top: -2.5rem !important;}
.mt-n6 {margin-top: -3rem !important;}
.mt-n7 {margin-top: -3.5rem !important;}
.mt-n8 {margin-top: -4rem !important;}
.mt-n9 {margin-top: -4.5rem !important;}
.mt-n10 {margin-top: -5rem !important;}
.mt-n11 {margin-top: -5.5rem !important;}
.mt-n12 {margin-top: -6rem !important;}
.mt-n13 {margin-top: -6.5rem !important;}
.mt-n14 {margin-top: -7rem !important;}
.mt-n15 {margin-top: -7.5rem !important;}
.mt-n16 {margin-top: -8rem !important;}
.mt-n17 {margin-top: -8.5rem !important;}
.mt-n18 {margin-top: -9rem !important;}
.mt-n19 {margin-top: -9.5rem !important;}
.mt-n20 {margin-top: -10rem !important;}
.mt-n21 {margin-top: -10.5rem !important;}
.mt-n22 {margin-top: -11rem !important;}
.mt-n23 {margin-top: -11.5rem !important;}
.mt-n24 {margin-top: -12rem !important;}
.mt-n25 {margin-top: -12.5rem !important;}
.mt-n26 {margin-top: -13rem !important;}
.mt-n27 {margin-top: -13.5rem !important;}
.mt-n28 {margin-top: -14rem !important;}
.mt-n29 {margin-top: -14.5rem !important;}
.mt-n30 {margin-top: -15rem !important;}

.mb-n1 {margin-bottom: -0.5rem !important;}
.mb-n2 {margin-bottom: -1rem !important;}
.mb-n3 {margin-bottom: -1.5rem !important;}
.mb-n4 {margin-bottom: -2rem !important;}
.mb-n5 {margin-bottom: -2.5rem !important;}
.mb-n6 {margin-bottom: -3rem !important;}
.mb-n7 {margin-bottom: -3.5rem !important;}
.mb-n8 {margin-bottom: -4rem !important;}
.mb-n9 {margin-bottom: -4.5rem !important;}
.mb-n10 {margin-bottom: -5rem !important;}
.mb-n11 {margin-bottom: -5.5rem !important;}
.mb-n12 {margin-bottom: -6rem !important;}
.mb-n13 {margin-bottom: -6.5rem !important;}
.mb-n14 {margin-bottom: -7rem !important;}
.mb-n15 {margin-bottom: -7.5rem !important;}
.mb-n16 {margin-bottom: -8rem !important;}
.mb-n17 {margin-bottom: -8.5rem !important;}
.mb-n18 {margin-bottom: -9rem !important;}
.mb-n19 {margin-bottom: -9.5rem !important;}
.mb-n20 {margin-bottom: -10rem !important;}
.mb-n21 {margin-bottom: -10.5rem !important;}
.mb-n22 {margin-bottom: -11rem !important;}
.mb-n23 {margin-bottom: -11.5rem !important;}
.mb-n24 {margin-bottom: -12rem !important;}
.mb-n25 {margin-bottom: -12.5rem !important;}
.mb-n26 {margin-bottom: -13rem !important;}
.mb-n27 {margin-bottom: -13.5rem !important;}
.mb-n28 {margin-bottom: -14rem !important;}
.mb-n29 {margin-bottom: -14.5rem !important;}
.mb-n30 {margin-bottom: -15rem !important;}

.ms-n1 {margin-left: -0.5rem !important;}
.ms-n2 {margin-left: -1rem !important;}
.ms-n3 {margin-left: -1.5rem !important;}
.ms-n4 {margin-left: -2rem !important;}
.ms-n5 {margin-left: -2.5rem !important;}
.ms-n6 {margin-left: -3rem !important;}
.ms-n7 {margin-left: -3.5rem !important;}
.ms-n8 {margin-left: -4rem !important;}
.ms-n9 {margin-left: -4.5rem !important;}
.ms-n10 {margin-left: -5rem !important;}
.ms-n11 {margin-left: -5.5rem !important;}
.ms-n12 {margin-left: -6rem !important;}
.ms-n13 {margin-left: -6.5rem !important;}
.ms-n14 {margin-left: -7rem !important;}
.ms-n15 {margin-left: -7.5rem !important;}
.ms-n16 {margin-left: -8rem !important;}
.ms-n17 {margin-left: -8.5rem !important;}
.ms-n18 {margin-left: -9rem !important;}
.ms-n19 {margin-left: -9.5rem !important;}
.ms-n20 {margin-left: -10rem !important;}
.ms-n21 {margin-left: -10.5rem !important;}
.ms-n22 {margin-left: -11rem !important;}
.ms-n23 {margin-left: -11.5rem !important;}
.ms-n24 {margin-left: -12rem !important;}
.ms-n25 {margin-left: -12.5rem !important;}
.ms-n26 {margin-left: -13rem !important;}
.ms-n27 {margin-left: -13.5rem !important;}
.ms-n28 {margin-left: -14rem !important;}
.ms-n29 {margin-left: -14.5rem !important;}
.ms-n30 {margin-left: -15rem !important;}

.me-n1 {margin-right: -0.5rem !important;}
.me-n2 {margin-right: -1rem !important;}
.me-n3 {margin-right: -1.5rem !important;}
.me-n4 {margin-right: -2rem !important;}
.me-n5 {margin-right: -2.5rem !important;}
.me-n6 {margin-right: -3rem !important;}
.me-n7 {margin-right: -3.5rem !important;}
.me-n8 {margin-right: -4rem !important;}
.me-n9 {margin-right: -4.5rem !important;}
.me-n10 {margin-right: -5rem !important;}
.me-n11 {margin-right: -5.5rem !important;}
.me-n12 {margin-right: -6rem !important;}
.me-n13 {margin-right: -6.5rem !important;}
.me-n14 {margin-right: -7rem !important;}
.me-n15 {margin-right: -7.5rem !important;}
.me-n16 {margin-right: -8rem !important;}
.me-n17 {margin-right: -8.5rem !important;}
.me-n18 {margin-right: -9rem !important;}
.me-n19 {margin-right: -9.5rem !important;}
.me-n20 {margin-right: -10rem !important;}
.me-n21 {margin-right: -10.5rem !important;}
.me-n22 {margin-right: -11rem !important;}
.me-n23 {margin-right: -11.5rem !important;}
.me-n24 {margin-right: -12rem !important;}
.me-n25 {margin-right: -12.5rem !important;}
.me-n26 {margin-right: -13rem !important;}
.me-n27 {margin-right: -13.5rem !important;}
.me-n28 {margin-right: -14rem !important;}
.me-n29 {margin-right: -14.5rem !important;}
.me-n30 {margin-right: -15rem !important;}

/** padding positive ******************************************************************************/
.pt-1 {padding-top: 0.5rem !important;}
.pt-2 {padding-top: 1rem !important;}
.pt-3 {padding-top: 1.5rem !important;}
.pt-4 {padding-top: 2rem !important;}
.pt-5 {padding-top: 2.5rem !important;}
.pt-6 {padding-top: 3rem !important;}
.pt-7 {padding-top: 3.5rem !important;}
.pt-8 {padding-top: 4rem !important;}
.pt-9 {padding-top: 4.5rem !important;}
.pt-10 {padding-top: 5rem !important;}
.pt-11 {padding-top: 5.5rem !important;}
.pt-12 {padding-top: 6rem !important;}
.pt-13 {padding-top: 6.5rem !important;}
.pt-14 {padding-top: 7rem !important;}
.pt-15 {padding-top: 7.5rem !important;}
.pt-16 {padding-top: 8rem !important;}
.pt-17 {padding-top: 8.5rem !important;}
.pt-18 {padding-top: 9rem !important;}
.pt-19 {padding-top: 9.5rem !important;}
.pt-20 {padding-top: 10rem !important;}

.pb-1 {padding-bottom: 0.5rem !important;}
.pb-2 {padding-bottom: 1rem !important;}
.pb-3 {padding-bottom: 1.5rem !important;}
.pb-4 {padding-bottom: 2rem !important;}
.pb-5 {padding-bottom: 2.5rem !important;}
.pb-6 {padding-bottom: 3rem !important;}
.pb-7 {padding-bottom: 3.5rem !important;}
.pb-8 {padding-bottom: 4rem !important;}
.pb-9 {padding-bottom: 4.5rem !important;}
.pb-10 {padding-bottom: 5rem !important;}
.pb-11 {padding-bottom: 5.5rem !important;}
.pb-12 {padding-bottom: 6rem !important;}
.pb-13 {padding-bottom: 6.5rem !important;}
.pb-14 {padding-bottom: 7rem !important;}
.pb-15 {padding-bottom: 7.5rem !important;}
.pb-16 {padding-bottom: 8rem !important;}
.pb-17 {padding-bottom: 8.5rem !important;}
.pb-18 {padding-bottom: 9rem !important;}
.pb-19 {padding-bottom: 9.5rem !important;}
.pb-20 {padding-bottom: 10rem !important;}

.ps-1 {padding-left: 0.5rem !important;}
.ps-2 {padding-left: 1rem !important;}
.ps-3 {padding-left: 1.5rem !important;}
.ps-4 {padding-left: 2rem !important;}
.ps-5 {padding-left: 2.5rem !important;}
.ps-6 {padding-left: 3rem !important;}
.ps-7 {padding-left: 3.5rem !important;}
.ps-8 {padding-left: 4rem !important;}
.ps-9 {padding-left: 4.5rem !important;}
.ps-10 {padding-left: 5rem !important;}
.ps-11 {padding-left: 5.5rem !important;}
.ps-12 {padding-left: 6rem !important;}
.ps-13 {padding-left: 6.5rem !important;}
.ps-14 {padding-left: 7rem !important;}
.ps-15 {padding-left: 7.5rem !important;}
.ps-16 {padding-left: 8rem !important;}
.ps-17 {padding-left: 8.5rem !important;}
.ps-18 {padding-left: 9rem !important;}
.ps-19 {padding-left: 9.5rem !important;}
.ps-20 {padding-left: 10rem !important;}

.pe-1 {padding-right: 0.5rem !important;}
.pe-2 {padding-right: 1rem !important;}
.pe-3 {padding-right: 1.5rem !important;}
.pe-4 {padding-right: 2rem !important;}
.pe-5 {padding-right: 2.5rem !important;}
.pe-6 {padding-right: 3rem !important;}
.pe-7 {padding-right: 3.5rem !important;}
.pe-8 {padding-right: 4rem !important;}
.pe-9 {padding-right: 4.5rem !important;}
.pe-10 {padding-right: 5rem !important;}
.pe-11 {padding-right: 5.5rem !important;}
.pe-12 {padding-right: 6rem !important;}
.pe-13 {padding-right: 6.5rem !important;}
.pe-14 {padding-right: 7rem !important;}
.pe-15 {padding-right: 7.5rem !important;}
.pe-16 {padding-right: 8rem !important;}
.pe-17 {padding-right: 8.5rem !important;}
.pe-18 {padding-right: 9rem !important;}
.pe-19 {padding-right: 9.5rem !important;}
.pe-20 {padding-right: 10rem !important;}

/** padding negative ******************************************************************************/
.pt-n1 {padding-top: -0.5rem !important;}
.pt-n2 {padding-top: -1rem !important;}
.pt-n3 {padding-top: -1.5rem !important;}
.pt-n4 {padding-top: -2rem !important;}
.pt-n5 {padding-top: -2.5rem !important;}
.pt-n6 {padding-top: -3rem !important;}
.pt-n7 {padding-top: -3.5rem !important;}
.pt-n8 {padding-top: -4rem !important;}
.pt-n9 {padding-top: -4.5rem !important;}
.pt-n10 {padding-top: -5rem !important;}
.pt-n11 {padding-top: -5.5rem !important;}
.pt-n12 {padding-top: -6rem !important;}
.pt-n13 {padding-top: -6.5rem !important;}
.pt-n14 {padding-top: -7rem !important;}
.pt-n15 {padding-top: -7.5rem !important;}
.pt-n16 {padding-top: -8rem !important;}
.pt-n17 {padding-top: -8.5rem !important;}
.pt-n18 {padding-top: -9rem !important;}
.pt-n19 {padding-top: -9.5rem !important;}
.pt-n20 {padding-top: -10rem !important;}

.pb-n1 {padding-bottom: -0.5rem !important;}
.pb-n2 {padding-bottom: -1rem !important;}
.pb-n3 {padding-bottom: -1.5rem !important;}
.pb-n4 {padding-bottom: -2rem !important;}
.pb-n5 {padding-bottom: -2.5rem !important;}
.pb-n6 {padding-bottom: -3rem !important;}
.pb-n7 {padding-bottom: -3.5rem !important;}
.pb-n8 {padding-bottom: -4rem !important;}
.pb-n9 {padding-bottom: -4.5rem !important;}
.pb-n10 {padding-bottom: -5rem !important;}
.pb-n11 {padding-bottom: -5.5rem !important;}
.pb-n12 {padding-bottom: -6rem !important;}
.pb-n13 {padding-bottom: -6.5rem !important;}
.pb-n14 {padding-bottom: -7rem !important;}
.pb-n15 {padding-bottom: -7.5rem !important;}
.pb-n16 {padding-bottom: -8rem !important;}
.pb-n17 {padding-bottom: -8.5rem !important;}
.pb-n18 {padding-bottom: -9rem !important;}
.pb-n19 {padding-bottom: -9.5rem !important;}
.pb-n20 {padding-bottom: -10rem !important;}

.ps-n1 {padding-left: -0.5rem !important;}
.ps-n2 {padding-left: -1rem !important;}
.ps-n3 {padding-left: -1.5rem !important;}
.ps-n4 {padding-left: -2rem !important;}
.ps-n5 {padding-left: -2.5rem !important;}
.ps-n6 {padding-left: -3rem !important;}
.ps-n7 {padding-left: -3.5rem !important;}
.ps-n8 {padding-left: -4rem !important;}
.ps-n9 {padding-left: -4.5rem !important;}
.ps-n10 {padding-left: -5rem !important;}
.ps-n11 {padding-left: -5.5rem !important;}
.ps-n12 {padding-left: -6rem !important;}
.ps-n13 {padding-left: -6.5rem !important;}
.ps-n14 {padding-left: -7rem !important;}
.ps-n15 {padding-left: -7.5rem !important;}
.ps-n16 {padding-left: -8rem !important;}
.ps-n17 {padding-left: -8.5rem !important;}
.ps-n18 {padding-left: -9rem !important;}
.ps-n19 {padding-left: -9.5rem !important;}
.ps-n20 {padding-left: -10rem !important;}

.pe-n1 {padding-right: -0.5rem !important;}
.pe-n2 {padding-right: -1rem !important;}
.pe-n3 {padding-right: -1.5rem !important;}
.pe-n4 {padding-right: -2rem !important;}
.pe-n5 {padding-right: -2.5rem !important;}
.pe-n6 {padding-right: -3rem !important;}
.pe-n7 {padding-right: -3.5rem !important;}
.pe-n8 {padding-right: -4rem !important;}
.pe-n9 {padding-right: -4.5rem !important;}
.pe-n10 {padding-right: -5rem !important;}
.pe-n11 {padding-right: -5.5rem !important;}
.pe-n12 {padding-right: -6rem !important;}
.pe-n13 {padding-right: -6.5rem !important;}
.pe-n14 {padding-right: -7rem !important;}
.pe-n15 {padding-right: -7.5rem !important;}
.pe-n16 {padding-right: -8rem !important;}
.pe-n17 {padding-right: -8.5rem !important;}
.pe-n18 {padding-right: -9rem !important;}
.pe-n19 {padding-right: -9.5rem !important;}
.pe-n20 {padding-right: -10rem !important;}

/** font size custom ******************************************************************************/
.ft-1 {font-size: 0.125rem !important;}
.ft-2 {font-size: 0.25rem !important;}
.ft-3 {font-size: 0.375rem !important;}
.ft-4 {font-size: 0.5rem !important;}
.ft-5 {font-size: 0.625rem !important;}
.ft-6 {font-size: 0.75rem !important;}
.ft-7 {font-size: 0.875rem !important;}
.ft-8 {font-size: 1rem !important;}
.ft-9 {font-size: 1.125rem !important;}
.ft-10 {font-size: 1.25rem !important;}
.ft-11 {font-size: 1.375rem !important;}
.ft-12 {font-size: 1.5rem !important;}
.ft-13 {font-size: 1.625rem !important;}
.ft-14 {font-size: 1.75rem !important;}
.ft-15 {font-size: 1.875rem !important;}
.ft-16 {font-size: 2rem !important;}
.ft-17 {font-size: 2.125rem !important;}
.ft-18 {font-size: 2.25rem !important;}
.ft-19 {font-size: 2.375rem !important;}
.ft-20 {font-size: 2.5rem !important;}
.ft-21 {font-size: 2.625rem !important;}
.ft-22 {font-size: 2.75rem !important;}
.ft-23 {font-size: 2.875rem !important;}
.ft-24 {font-size: 3rem !important;}
.ft-25 {font-size: 3.125rem !important;}
.ft-26 {font-size: 3.25rem !important;}
.ft-27 {font-size: 3.375rem !important;}
.ft-28 {font-size: 3.5rem !important;}
.ft-29 {font-size: 3.625rem !important;}
.ft-30 {font-size: 3.75rem !important;}

/** font weight ***********************************************************************************/
.fw-1 {font-weight: 100 !important;}
.fw-2 {font-weight: 200 !important;}
.fw-3 {font-weight: 300 !important;}
.fw-4 {font-weight: 400 !important;}
.fw-5 {font-weight: 500 !important;}
.fw-6 {font-weight: 600 !important;}
.fw-7 {font-weight: 700 !important;}
.fw-8 {font-weight: 800 !important;}
.fw-9 {font-weight: 900 !important;}

/** 테두리 그림자 *********************************************************************************/
.sh-1 { box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) !important;}
.sh-2 { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) !important;}
.sh-3 { box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2) !important;}
.sh-4 { box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;}
.sh-5 { box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3) !important;}
.sh-6 { box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35) !important;}
.sh-7 { box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.4) !important;}
.sh-8 { box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45) !important;}
.sh-9 { box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.5) !important;}
.sh-10 { box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.55) !important;}

/** etc custom ************************************************************************************/

/** search **/
.searchSelect {
  max-width: 100px;
}
.searchBar {
  width: 120px;
}
.fa-search {
  cursor: pointer;
}
.hiddenSubmit {
  display: none;
}

.textarea {
  height: 200px;
}

.jungho-inline > * {
  display: inline-block;
}

.jungho-inline {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.jungho-button {
  background-color: #800020;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.jungho-button:hover {
  font-weight: 900;
}

.jungho-button-admin {
  background-color: #808080;
  border-radius: 5px;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.jungho-button-admin:hover {
  font-weight: 900;
}

.jungho-vertical {
	border: 1px solid #9292923a;
  height: 100%;
  position: absolute;
  top: 0;
}

.parent-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jungho-horizon {
  border-top: 1px solid #9292923a;
  width: 100%;
  position: relative;
  margin-top: -3px;
  display: flex;
  justify-content: center;
}

.jungho-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jungho-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.jungho-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.p {
  font-weight: 700  !important;
}

.jungho-related {
  font-weight: 700;
  font-size: 30px;
  color: #111111;
  margin-bottom: 25px;
  margin-top: -20px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.junghoPagination {
	padding-top: 25px;
	text-align: center;
}

.junghoPagination a {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #111111;
	height: 30px;
	width: 30px;
	border: 1px solid transparent;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
}

.junghoPagination a.active {
	border-color: #111111;
	background-color: #111111;
	color: #ffffff;
}

.junghoPagination a:hover {
	border-color: #111111;
}

.junghoPagination span {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #111111;
	padding-left: 10px;
	padding-right: 15px;
}


/** List custom ***********************************************************************************/

.junghoList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem
}

.junghoList-emp-img img {
  width: 38px;
  height: 38px;
  margin-right: 5px;
  margin-top: 2px;
  border-radius: 50%;
}

.junghoList-details {
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
  display: flex;
  flex-direction: column;
}

.junghoList-quantity {
  font-weight: 500;
  color: #3c4142;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

.junghoList-quantity span {
  font-weight: 500;
  color: #3c4142;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

.junghoList-title {
  font-weight: 700;
  color: #3c4142;
  font-size: 0.85rem;
  flex-direction: column;
  margin-top: 0.3rem;
}

.junghoList-title a {
  font-weight: 700;
  color: #3c4142;
  font-size: 0.85rem;
  flex-direction: column;
  margin-top: 0.3rem;
}

.junghoList-title a:hover {
  color: #800020;
  font-weight: 900;
  font-size: 0.87rem;
  margin-top: 0.3rem;
}

.junghoList-writer {
  font-weight: 700;
  color: #3c4142;
  font-size: 0.85rem;
  flex-direction: column;
  margin-top: 0.6rem;
}

.junghoList-writer span {
  font-weight: 700;
  color: #3c4142;
  font-size: 0.85rem;
  flex-direction: column;
  margin-top: 0.6rem;
}

.junghoList-contents {
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.junghoList-date {
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.junghoList-answer1 {
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.junghoList-answer2 {
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.junghoList-price {
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.junghoList-count {
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.junghoList-info {
  font-weight: 400;
}

.junghoList-info p {
  line-height: 1.5;
  color: #3c4142;
  font-size: 0.8125rem;
}

.junghoList-info .location {
  color: #3c4142;
}

.junghoList-card-margin {
  margin-bottom: 1.875rem;
}

.junghoList-card {
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f3f2ee;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 8px;
}


/** ~992px ****************************************************************************************/
@media screen and (max-width: 992px) {

  .junghoList-contents,
  .junghoList-quantity {
    display: none;
  }
}


/** ~768px ****************************************************************************************/
@media screen and (max-width: 768px) {

  .junghoList-contents,
  .junghoList-quantity {
    display: none;
  }

  .junghoList {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .junghoList-emp-img img {
    margin-bottom: 1rem;
  }

  .junghoList-title {
    font-weight: 700;
    color: #3c4142;
    font-size: 0.85rem;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .junghoList-writer {
    font-weight: 700;
    color: #3c4142;
    font-size: 0.85rem;
    flex-direction: column;
  }

  .junghoList-writer span {
    font-weight: 700;
    color: #3c4142;
    font-size: 0.85rem;
    flex-direction: column;
  }

  .junghoList-details {
    display: none;
  }

  .junghoList-contents {
    margin-bottom: 1rem;
  }

  .junghoList-price {
    margin-bottom: 1rem;
  }

  .junghoList-answer1 {
    margin-bottom: 1rem;
  }

  .junghoList-answer2 {
    margin-bottom: 1rem;
  }

  .junghoList-count {
    margin-bottom: 1rem;
  }



}

/** slider ****************************************************************************************/
.jungho-slider {
  box-shadow: 2px 8px 8px 2px rgba(0, 0.5, 0.5, 0.5);
  width: auto;
  height: auto;
  min-width: 200px;
  min-height: 200px;
  max-width: 400px;
  max-height: 400px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  margin-top: 30px;
  overflow: hidden;
  padding: 20px 10px 20px 10px;
}

.jungho-slider img {
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  min-width: 180px;
  min-height: 180px;
  max-width: 380px;
  max-height: 380px;
}