/** 1. (1200 ~ 10000)******************************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 10000px) {

  /** non display **/

  /** display **/
  .footer {
    font-size: 18px;
    line-height: 60px;
  }

  table th {
    font-size: 15px;
  }

  table td {
    font-size: 18px;
  }

  .product-title {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
  }

}

/** 2. (992 ~ 1199) *******************************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  /** non display **/

  /** display **/
  .footer {
    font-size: 18px;
    line-height: 55px;
  }

  table th {
    font-size: 14px;
  }

  table td {
    font-size: 18px;
  }

  .product-title {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
}

/** 3. (768 ~ 991) ********************************************************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /** non display **/

  /** display **/
  .footer {
    font-size: 16px;
    line-height: 50px;
  }

  table th {
    font-size: 13px;
  }

  table td {
    font-size: 16px;
  }

  .product-title {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
}

/** 4. (480 ~ 767) ********************************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

  /** non display **/

  /** display **/
  .footer {
    font-size: 14px;
    line-height: 40px;
  }

  table th {
    font-size: 12px;
  }

  table td {
    font-size: 14px;
  }

  .product-title {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
}

/** 5. (0 ~ 479)  ********************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 479px) {

  /** non display **/

  /** display **/
  .footer {
    font-size: 12px;
    line-height: 30px;
  }

  table th {
    font-size: 11px;
  }

  table td {
    font-size: 12px;
  }

  .product-title {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
}