body {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.table {
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 10px;
  border-top: #ffffff !important;
}

.table th {
  background-color: #eeeeee;
}

.table tr:nth-child(odd) {
  background-color: #ffffff;
}

.table tr:nth-child(even) {
  background-color: #ffffff;
}

.tdtd {
  width: 100px !important;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: #444;
}

a:hover {
  color: #444;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cp {
  cursor: pointer;
}

p {
  margin-bottom: 0px;
  width: 100%;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.hid {
  display: none;
}

.top-mar {
  margin-top: 15px;
}

.h-100 {
  height: 100%;
}

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}

.container-fluid {
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #545454;
}

body {
  background-color: #f1f1f145 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #6a6a6a;
  overflow-x: hidden;
}

.session-title {
  padding: 30px;
  margin: 0px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .session-title {
    padding: 5px;
  }
}

.session-title h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
}

.session-title p {
  max-width: 850px;
  text-align: center;
  float: none;
  margin: auto;
  font-size: 0.9rem;
  margin-top: 6px;
}

.session-title span {
  float: right;
  font-style: italic;
}

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccccccc4;
  display: block;
  padding-right: 0px;
}

.inner-title h2 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #863dd9;
  padding-bottom: 10px;
  margin-bottom: 0px;
  width: 300px;
}

.inner-title p {
  width: 100%;
  text-align: center;
}

.inner-title .btn {
  float: right;
  margin-top: -38px;
  font-weight: 600;
  font-size: 0.8rem;
}

.page-nav {
  background-size: 100%;
  padding: 30px;
  text-align: center;
  background-color: #eeeeee;
}

.page-nav ul {
  float: none;
  margin: auto;
}

.page-item {
}

@media screen and (max-width: 992px) {
  .page-nav {
    background-size: auto;
  }
}

@media screen and (max-width: 767px) {
  .page-nav {
    padding-top: 200px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 356px) {
  .page-nav {
    padding-top: 200px;
    padding-bottom: 40px;
  }
}

.page-nav h2 {
  font-size: 35px;
  width: 100%;
  font-weight: bolder;
  color: #2d9c54;
}

@media screen and (max-width: 600px) {
  .page-nav h2 {
    font-size: 35px;
  }
}

.page-nav ul li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #444;
}

.page-nav ul li i {
  width: 30px;
  text-align: center;
  color: #444;
}

.page-nav ul li a {
  color: #444;
  font-size: 18px;
  font-weight: 700;
}

.page-nav ul li a:hover {
  text-decoration: underline;
  color: #51be78;
}

.btn-success {
  background-color: #51be78;
  border-color: #51be78;
}

.btn-success:hover {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
}

.btn-success:active {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
}

.btn-success:focus {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: #3cc88f;
  border-color: #3cc88f;
}

.btn-primary:hover {
  background-color: #3cc88f !important;
  border-color: #3cc88f !important;
}

.btn-primary:active {
  background-color: #3cc88f !important;
  border-color: #3cc88f !important;
}

.btn-primary:focus {
  background-color: #3cc88f !important;
  border-color: #3cc88f !important;
  box-shadow: none !important;
}

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #ccc;
}

.btn-light {
  background-color: #ffffff;
  color: #3f3f3f;
}

.collapse.show {
  display: block !important;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #ccc;
}

.form-control {
  background-color: #f8f8f8;
  margin-bottom: 20px;
}

.form-control:focus {
  background-color: #ffffff;
  border-color: #ccc;
}

.container {
  max-width: 1170px;
}

@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}

header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  width: 100%;
  z-index: 99;
}

header .logo {
  padding-top: 6px;
}

header .header-top {
  background-color: #ffffff;
  border-bottom: 1px solid #d3d7cea6;
  margin: 0;
  padding: 7px;
}

header .header-top .ulleft li {
  float: left;
  padding: 12px;
  color: #686968;
  font-size: 0.9rem;
}

header .header-top .ulleft li i {
  margin-right: 5px;
  color: #bfbfbf;
}

header .header-top .ulleft li span {
  margin-left: 15px;
}

header .header-top .ulright {
  float: right;
}

header .header-top .ulright li {
  float: left;
  padding: 10px;
  color: #d3d7ce;
  font-size: 1rem;
  font-weight: 600;
}

header .header-top .ulright li i {
  margin-right: 5px;
  color: #8c8a8a;
}

header .header-top .ulright li small {
  color: #8c8a8a;
  font-weight: 600;
}

header .header-top .ulright li span {
  margin-left: 15px;
}

header .header-top .btn-bhed {
  padding-top: 7px;
  text-align: right;
}

header .header-top .btn-bhed .btn {
  padding: 5px 23px;
  border-radius: 50px;
  margin-left: 5px;
}

header .header-bottom {
  padding: 6px;
  background-color: #ffffff;
}

@media screen and (max-width: 991px) {
  header .header-bottom {
    padding: 0px;
  }
}

@media screen and (max-width: 991px) {
  header .header-bottom img {
    padding: 5px;
    margin-top: 0px;
    max-width: 230px;
  }
}

header .nav-col .navbad {
  display: block;
  float: right;
}

@media screen and (max-width: 991px) {
  header .nav-col .navbad {
    width: 100%;
  }
}

header .nav-col .navbad li {
  padding: 15px 15px;
  font-weight: 700;
  font-size: 0.9rem;
  float: left;
}

@media screen and (max-width: 1005px) {
  header .nav-col .navbad li {
    padding: 15px 12px;
  }
}

@media screen and (max-width: 991px) {
  header .nav-col .navbad li {
    float: none;
    width: 100%;
    padding: 10px;
  }
}

header .nav-col .navbad li a {
  color: #686968 !important;
  border: 1px solid #ccc;
  border-radius: 50px;
}

header .nav-col .navbad li a:hover {
  background-color: #3cc88f;
  color: #ffffff !important;
}

header .nav-col .navbad .nav-btn {
  float: right;
}

header .small-menu {
  float: right;
  color: #686968;
  font-size: 1.8rem;
  position: absolute;
  right: 13px;
  top: 19px;
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 0px;
  }
}

.navbar-toggler {
  position: absolute;
  right: 0px;
  top: -40px;
}

@media screen and (max-width: 767px) {
  .navbar-toggler {
    top: -50px;
  }
}

.scroll-to-fixed-fixed {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.scroll-to-fixed-fixed {
  padding: 5px !important;
}

.slider {
  position: relative;
}

.slider-captions {
  position: absolute;
  bottom: 132px;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .slider-captions {
    bottom: 100px !important;
    width: 80%;
    text-align: center;
    float: none;
    margin: auto;
  }

  .slider-captions .slider-title {
    font-size: 42px;
  }
}

@media screen and (max-width: 810px) {
  .slider-captions {
    bottom: 50px !important;
  }

  .slider-captions .slider-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 572px) {
  .slider-captions {
    display: none;
  }
}

.slider-title {
  font-size: 66px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 0;
  padding-inline-start: 150px;
}

.slider-text {
  margin-bottom: 20px;
  color: #ffffff;
}

.slider-img {
  background: -moz-linear-gradient(top, rgba(45, 32, 44, 0.3) 0%, rgba(45, 32, 44, 0.1) 100%);
  background: -webkit-linear-gradient(top, rgba(45, 32, 44, 0.3) 0%, rgba(45, 32, 44, 0.1) 100%);
  background: linear-gradient(to bottom, rgba(45, 32, 44, 0.3) 0%, rgba(45, 32, 44, 0.1) 100%);
  position: relative;
  max-height: 300px;
}

.slider-img img {
  position: relative;
  z-index: -1;
}

.slider .owl-nav .owl-prev,
.slider .owl-nav .owl-next {
  color: #ffffff;
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 6px 12px;
  font-size: 22px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background: transparent;
  filter: Alpha(Opacity=50);
  line-height: 1;
  border: 2px solid #ffffff;
}

.owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
  background-color: #ffffff;
}

.slider .owl-nav .owl-prev {
  position: absolute;
  top: 40%;
  left: 25px;
}

.slider .owl-nav .owl-next {
  position: absolute;
  top: 40%;
  right: 25px;
}

.slider .owl-dots .owl-dot {
  position: relative;
  text-align: center;
  bottom: 40px;
  max-width: 1140px;
  margin: 0 auto;
}

.slider .owl-dots .owl-dot span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0px 0px 10px 10px;
  filter: Alpha(Opacity=50);
  opacity: 0.8;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  float: left;
}

.slider .owl-dots .owl-dot.active span {
  background-color: #ffffff;
}

.slider .owl-dots .owl-dot.active span,
.slider .owl-controls.clickable .owl-page:hover span {
  background-color: #ffffff;
  filter: Alpha(Opacity=100);
  opacity: 1;
}

.slider .col-lg-offset-2 {
  float: none;
  margin: auto;
}

.about-us {
  background-color: #edf1f5;
  padding: 50px;
}

@media screen and (max-width: 940px) {
  .about-us {
    padding: 30px 10px;
  }
}

.about-us .natur-row {
  margin-top: 20px;
}

.about-us .text-part h2 {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.about-us .text-part p {
  text-indent: 20px;
  margin-bottom: 15px;
  line-height: 27px;
  font-weight: 500;
  text-align: justify;
  font-size: 0.9rem;
}

.about-us .image-part .about-quick-box .about-qcard {
  padding: 50px 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
  border-radius: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.about-us .image-part .about-quick-box .about-qcard p {
  font-weight: 600;
  font-size: 1.2rem;
}

.about-us .image-part .about-quick-box .about-qcard i {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #3cc88f;
}

.about-us .image-part .about-quick-box .about-qcard .red {
  color: #ff6b70;
}

.about-us .image-part .about-quick-box .about-qcard .yell {
  color: #f7a900;
}

.about-us .image-part .about-quick-box .about-qcard .blu {
  color: #21d7d9;
}

.events {
  background-color: #efefef2e;
  padding: 50px 50px 25px 50px;
}

.events .event-ro .event-box {
  text-align: center;
  margin-bottom: 20px;
}

.events .event-ro .event-box img {
  margin-bottom: 20px;
}

.events .event-ro .event-box h4 {
  font-size: 18px;
}

.events .event-ro .event-box .raises {
  margin-bottom: 10px;
}

.events .event-ro .event-box .raises span {
  color: #3bb44b;
}

.events .event-ro .event-box .desic {
  font-size: 13px;
  margin-bottom: 15px;
}

.mission-vision {
  background-color: #ffffff;
}

.mission-vision .mission {
  padding: 50px;
}

@media screen and (max-width: 940px) {
  .mission-vision .mission {
    padding: 30px 10px;
  }
}

.mission-vision .vision {
  padding: 50px;
}

@media screen and (max-width: 940px) {
  .mission-vision .vision {
    padding: 30px 10px;
  }
}

.mission-vision .mv-det {
  margin: auto;
}

.doctor-message {
  background-image: url("../images/slider/slider-2.png");
  background-attachment: fixed;
  background-size: cover;
}

.doctor-message .session-title h2 {
  color: #ffffff;
}

.doctor-message .inner-lay {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
  color: #ffffff;
}

@media screen and (max-width: 940px) {
  .doctor-message .inner-lay {
    padding: 30px 10px;
  }
}

.doctor-message .inner-lay .numb {
  text-align: center;
  padding: 30px;
}

.doctor-message .inner-lay .numb h3 {
  font-size: 42px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  color: #ffffff;
}

.our-blog {
  background-color: #fdfdfd;
  padding: 10px;
}

@media screen and (max-width: 967px) {
  .our-blog {
    padding: 30px 0px;
  }
}

.our-blog .single-blog {
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
  max-width: 360px;
  max-height: 350px;
  padding-left: 10px;
}

.our-blog .single-blog small {
  color: #3bb44b;
  font-size: 12px;
  font-weight: bold;
}

.our-blog .single-blog h4 {
  font-size: 1.2rem;
  margin-bottom: 0px;
  margin-top: 25px;
}

.our-blog .single-blog p {
  text-align: justify;
  text-indent: 20px;
}

.our-blog .single-blog .link a {
  font-size: 15px;
  font-weight: bold;
  color: #3bb44b;
}

.our-blog .single-blog .link a:hover {
  font-size: 15px;
  color: #555555;
  text-decoration: underline;
  font-weight: bolder;
}

.our-blog .single-blog .link i {
  padding-top: 6px;
  margin-left: 5px;
  color: #ffffff;
}

.copy {
  height: 70px;
  padding: 10px;
  background: #131824;
  color: #ffffff;
  position: sticky;
  -webkit-text-stroke-width: thin;
  line-height: 50px;
}

.copy a {
  color: #ffffff;
}

.copy span {
  float: right;
}

.copy span i {
  margin-right: 20px;
}

.kf-2 {
  background-color: #fcfcfc;
  padding: 50px;
}

@media screen and (max-width: 940px) {
  .kf-2 {
    padding: 30px 10px;
  }
}

.kf-2 .single-key {
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
}

.our-team {
  padding: 50px;
  background-color: #cccccc1c;
}

@media screen and (max-width: 940px) {
  .our-team {
    padding: 30px 10px;
  }
}

.our-team .team-row {
  margin-top: 20px;
}

.our-team .team-row .single-usr {
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
  margin-bottom: 20px;
}

.our-team .team-row .single-usr img {
  width: 100%;
}

.our-team .team-row .single-usr .det-o {
  padding: 20px;
  background-color: #3cc88f;
}

.our-team .team-row .single-usr .det-o h4 {
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 1.1rem;
  font-weight: 600;
}

.our-team .team-row .single-usr .det-o i {
  color: #ffffff;
  font-size: 0.8rem;
}

.nav-box {
  margin-top: 50px;
  border-radius: 50px;
  border: 1px solid #ccc;
}

.nav-box ul li {
  float: left;
  padding: 15px;
}

.nav-box ul li a {
  color: #ffffff;
}

.nav-box .btn {
  margin-top: 7px;
  float: right;
  border-radius: 50px;
}

.gallery-filter {
  width: 100%;
  text-align: center;
}

.gallery-filter .spacer1 {
  margin-left: 170px;
}

.gallery-filter .spacer2 {
  margin-right: 220px;
}

.gallery-filter .spacer3 {
  margin-right: 160px;
}

.gallery-filter .btn {
  background-color: #ffffff;
}

.gallery {
  margin-left: 70px;
  padding: 50px;
  padding: 30px;
  background-color: #ffffff;
  min-height: 500px;
  max-height: 900px;
}

@media screen and (max-width: 940px) {
  .gallery {
    padding: 30px 10px;
  }
}

.gallery-title {
  font-size: 36px;
  color: #00ab9f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #3cc88f;
}

.filter-button {
  font-size: 18px;
  border: 1px solid #3cc88f;
  border-radius: 5px;
  text-align: center;
  color: #3cc88f;
  margin-bottom: 10px;
}

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #3cc88f;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #3cc88f;
}

.btn-default:active .filter-button:active {
  background-color: #3cc88f;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
  padding-top: 10px;
  max-width: 350px;
  max-height: 200px;
  max-block-size: fit-content;
}

.figure {
  padding: 15px;
  max-width: 300px;
  max-height: 200px;
}

.jungho-max {
  max-height: 300px;
}

.textarea {
  resize: none;
}

.image-jungho {
  max-width: 500px;
  max-height: 450px;
  margin-top: 30px;
  margin-left: 60px;
  padding: 15px;
  text-align: -webkit-center;
  -webkit-box-shadow: 5px 5px 12px 12px rgba(146, 142, 142, 0.75);
  -moz-box-shadow: 5px 5px 12px 12px rgba(146, 142, 142, 0.75);
}

.button-jungho {
  border: none;
  color: white;
  text-decoration: none;
}

.button-jungho:hover {
  background-color: #3cc88f;
  color: white;
}

.bold-jungho {
  font-weight: 800;
  color: #2a7d13;
}

.right-jungho {
  float: right;
  margin-bottom: 30px;
  margin-right: 230px;
  margin-top: -70px;
}

.right-jungho-btn {
  float: right;
  margin-right: 50px;
}

.right-jungho-2 {
  float: right;
  margin-right: 30px;
  margin-top: 35px;
  margin-inline: 50px;
}

.form-control {
  resize: none;
}

.product-image {
  padding: 20px;
  padding-top: 40px;
  margin-left: 30px;
  min-width: 400px;
  min-height: 400px;
  max-width: 500px;
  max-height: 500px;
  -webkit-box-shadow: 5px 5px 10px 10px rgb(146 142 142 / 75%);
  -moz-box-shadow: 5px 5px 10px 10px rgba(146, 142, 142, 0.75);
}

.search-jungho {
  color: #3cc88f;
  border: none;
  text-decoration: none;
  outline: none;
}

.jungohoho {
  color: #3cc88f;
  text-decoration: none;
  outline: none;
}

.as {
  padding: 0px;
}

.main {
  display: flex;
  flex-direction: column;
}

.float-end {
  cursor: pointer;
  color: #000000;
  font-weight: 500;
}

.float-end:hover,
.float-end:focus {
  cursor: pointer;
  color: #3cc88f;
  font-weight: 800;
}

.footer {
  width: 100%;
  height: auto;
  /* display: flex; */
  background: #333;
  text-align: center;
  /* position: relative; */
  bottom: 0;
  margin-top: 10px;
  background-color: #1e2436;
  color: #ffffff;
}

.empty {
  width: 100%;
  height: 300px;
}
