# IDE
.idea/
.vscode/

# Compiled output
/target/
/build/
/classes/
/*.class

# node
node_modules/

# Maven specific
target/
release.properties

# Gradle specific
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar

# Spring Boot specific
/maven-wrapper/

*.pdf